<template lang="pug">
  v-app(v-if="!$store.state.loading || $route.name != 'index'" light)
    v-toolbar(v-if="$route.name == 'index'" app flat absolute dense color="transparent")
      v-btn(icon to="/info")
        v-icon(color="primary") info_outline
      h2(style="font-weight:400;") Dashboard
      v-spacer
      v-btn(icon to="/settings")
        v-icon(color="primary") settings
    v-toolbar(v-else app scroll-off-screen flat dense style="background-color:#fafafa;")
      v-btn(icon @click="$router.back()")
        v-icon(color="primary") arrow_back
      h2(style="font-weight:400;" v-if="$route.name == 'tests-id'") Tests from {{$route.params.id}}
      h2(style="font-weight:400;" v-else-if="$route.name == 'tests'") Tests
      h2(style="font-weight:400;" v-else) {{$route.name}}
    v-content(v-if="$store.state.connected")
      v-container.pa-0.px-1
        nuxt
    v-snackbar(left v-model="value") {{text}}
    v-layout(align-center v-show="!$store.state.connected")
      v-flex.text-xs-center
        v-progress-circular(indeterminate color="primary")
        v-flex.text-xs-center.mt-4 Connecting to the server...
  v-app(v-else)
    v-layout(align-center)
      v-flex.text-xs-center
        v-progress-circular(indeterminate color="primary")
        v-flex.text-xs-center.mt-4 {{$store.state.log}}
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  sockets: {
    connect() {
      this.$store.commit('connected', true)
    },
    tests(tests) {
      this.$store.commit('setTests', tests)
    },
    calculationDone(test) {
      console.log(test)
      this.$store.commit('addTest', test)
      this.$store.commit('setLoading', false)
    },
    settings(settings) {
      this.$store.commit('setSettings', settings)
    },
    testEnded() {
      this.$store.commit('setLoading', false)
    },
    log(msg) {
      this.$store.commit('setLog', msg)
    },
    snackbar(msg) {
      this.$store.commit('snackbar/setSnackbar', msg)
    }
  },
  computed: {
    ...mapGetters({
      text: 'snackbar/text'
    }),
    value: {
      get () {
        return this.$store.state.snackbar.value
      },
      set (v) {
        this.$store.commit('snackbar/setValue', v)
      }
    }
  }
}
</script>


<style>
html {
  cursor: default;
}
.v-card {
  border-radius: 5px;
}
.application.theme--dark {
  background-color:#3d3b4c;
}
.theme--dark .v-card {
  background-color:#424051;
}
.v-select__slot {
  cursor: pointer;
}
a {
  text-decoration: none;
}
</style>
