<template lang="pug">
  v-layout(row wrap grid-list-lg)
    v-flex(xs12 lg8).pa-2
      v-card
        v-card-title
          h4 Friction
        v-layout(align-center)
          bar(style="width:100%;" :chartData="chartData" :options="options").pa-2
    v-layout(lg4)
      v-flex(xs12 @click="$router.push('/tests')").pa-2
        v-card(height="100%")
          v-card-title.pb-1
            v-icon(x-large color="primary") assignment
          v-card-title.py-0
            h2(v-if="tests") {{tests.length}}
            h2(v-else) 0
          v-card-title.py-0.pb-2
            .grey--text.lighten-4 Available Tests
      v-flex(xs12).pa-2
        v-card(height="100%")
          v-card-title.pb-1
            v-icon(x-large color="success") check_circle
          v-card-title.py-0
            h2(v-if="tests") {{(Math.floor((tests.filter((obj) => obj.success == true).length / tests.length * 100)* 100) / 100)}}%
            h2(v-else) 0%
          v-card-title.py-0.pb-2
            .grey--text.lighten-4 Successful Tests
    v-flex(xs12).pa-2
      v-card
        v-card-title(primary-title).headline Run Test
        v-list(two-line)
          v-list-tile
            v-select(label="Side" :items="sides" v-model="test.object" item-text="name")
        v-card-title
          v-spacer
          v-btn(@click="startNewTest" color="primary" outline) Run New Test
</template>

<script>
import { mapGetters } from 'vuex'
import bar from '~/components/bar'
export default {
  components: { bar },
  computed: {
    ...mapGetters({
      tests: 'tests'
    }),
    chartData () {
      return {
        datasets: [{
          label: 'Friction',
          backgroundColor: '#3956e5',
          data: this.groupedtests.map(a => a.gemµ)
        }],
        labels: this.groupedtests.map(a => a.object)
      }
    },
    groupedtests () {
      var tests = {}
      if (this.tests !== undefined) {
        this.tests.forEach(test => {
          if (tests[test.object] === undefined) {
            tests[test.object] = []
            tests[test.object].push(test)
          } else tests[test.object].push(test)
        })
      }
      var t = []
      Object.keys(tests).forEach(function (key) {
        var gemµ = 0
        tests[key].forEach(i => {
          gemµ += i.µ
        })
        gemµ = gemµ / tests[key].length
        t.push({object: tests[key][0].object, gemµ: gemµ})
      })
      return t
    }
  },
  data () {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {display: false},
        onClick (evt) {
          if (this.getElementsAtEvent(evt)[0] !== undefined) window.$nuxt.$router.push('/tests/' + this.getElementsAtEvent(evt)[0]._model.label)
        },
        scales: {
					yAxes: [{
						display: true,
            ticks: {
              min: 0
            }
					}]
				}
      },
      sides: [
        {name: 'Normaal vlak', value: 'Normaal vlak'},
        {name: 'Ruw vlak', value: 'Ruw vlak'},
        {name: 'Klein oppervlakte', value: 'Klein oppervlakte'},
        {name: 'Extra gewicht', value: 'Extra gewicht'},
        {name: 'Andere textuur', value: 'Andere textuur'}
      ],
      test: {
        object: undefined
      }
    }
  },
  methods: {
    startNewTest() {
      if(this.test.object != undefined) {
        this.$socket.emit('startNewTest', this.test)
        this.$store.commit('setLoading', true)
      }
      else this.$store.commit('snackbar/setSnackbar', 'Je moet een vlak kiezen!')
    }
  }
}
</script>
