<template lang="pug">
  v-layout(row wrap grid-list-lg)
    v-flex(xs12).pa-2
      v-card
        v-card-title.pb-0 Backend
        v-list(two-line)
          v-list-tile
            v-switch(label="Save successful tests to vault" v-model="localSettings.saveSuccessfulToVault")
          v-list-tile
            v-switch(label="Save all tests to vault" v-model="localSettings.saveAllToVault")
    v-flex(xs12).pa-2
      v-card
        v-card-title.pb-0 Extra Files
        v-btn(outline color="primary" @click="importTests()") Import tests from vault
        a(href="https://dev.trikthom.com:25555/excel")
          v-btn(outline color="primary" @click="exportTests()") Export tests to .xls
    v-flex(xs12)
        v-card(color="transparent" flat)
          v-card-title.pa-0
            v-btn(@click="restart" color="error" outline) Restart server
            v-spacer
            v-btn(@click="save" color="primary" outline) Save
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      settings: 'settings'
    }),
    localSettings () {
      return JSON.parse(JSON.stringify(this.settings))
    }
  },
  methods: {
    save () {
      this.$socket.emit('settingsChanged', this.localSettings)
      this.$store.commit('setSettings', this.localSettings)
      this.$router.push('/')
    },
    restart () {
      this.$socket.emit('restart')
      this.$store.commit('connected', false)
    },
    importTests () {
      this.$socket.emit('loadTests')
    },
    exportTests () {
      
    }
  }
}
</script>
