<template lang="pug">
  v-app(v-if="!$store.state.loading || $route.name != 'index'" light)
    v-toolbar(v-if="$route.name == 'index'" app flat absolute dense color="transparent")
      v-btn(icon to="/Info")
        v-icon(color="primary") info_outline
      h2(style="font-weight:400;") Dashboard
      v-spacer
      v-btn(icon to="/Settings")
        v-icon(color="primary") settings
    v-toolbar(v-else app scroll-off-screen flat dense style="background-color:#fafafa;")
      v-btn(icon @click="$router.back()")
        v-icon(color="primary") arrow_back
      h2(style="font-weight:400;" v-if="$route.name == 'Tests-id'") Tests from {{$route.params.id}}
      h2(style="font-weight:400;" v-else) {{$route.name}}
      v-flex.text-xs-center.white--text
        h2(style="font-weight:400;")
    v-content(v-show="$store.state.connected")
      v-container.pa-0.px-1
        nuxt
    v-snackbar(bottom v-model="value") {{text}}
    v-layout(align-center v-show="!$store.state.connected")
      v-flex.text-xs-center
        v-progress-circular(indeterminate color="primary")
        v-flex.text-xs-center.mt-4 Connecting to the server...
  v-app(v-else)
    v-layout(align-center)
      v-flex.text-xs-center
        v-progress-circular(indeterminate color="primary")
        v-flex.text-xs-center.mt-4 {{$store.state.log}}
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      text: 'snackbar/text'
    }),
    value: {
      get () {
        return this.$store.state.snackbar.value
      },
      set (v) {
        this.$store.commit('snackbar/setValue', v)
      }
    }
  }
}
</script>


<style>
html {
  cursor: default;
}
.v-card {
  border-radius: 5px;
}
.application.theme--dark {
  background-color:#3d3b4c;
}
.theme--dark .v-card {
  background-color:#424051;
}
</style>
