<template lang="pug">
  no-ssr
    my-line(v-if="$store.state.connected" :data="lineData" :options="options")
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      tests: 'tests'
    }),
    lineData () {
      return {
        datasets: [{
          label: 'Wrijvingscoefficient',
          backgroundColor: '#3956e5',
          data: this.tests.map(a => a.µ)
        }],
        labels: this.tests.map(a => a.id)
      }
    }
  },
  data () {
    return {
      options: {responsive: true, maintainAspectRatio: false, legend: {display: false}}
    }
  }
}
</script>