<template lang="pug">
  div
    v-layout(row wrap grid-list-lg)
      v-flex(xs12 xl8).pa-2
        v-card
          v-card-title
            h4 Friction
          v-layout(align-center)
            bar(style="width:100%;" :chartData="lineData" :options="options").pa-2
              
      v-layout(xl4)
        v-flex(xs6 @click="$router.push('/Tests')").pa-2
          v-card(height="100%")
            v-card-title.pb-1
              v-icon(x-large color="primary") assignment
            v-card-title.py-0
              h2(v-if="tests") {{tests.length}}
            v-card-title.py-0.pb-2
              .grey--text.lighten-4 Available Tests
        v-flex(xs6).pa-2
          v-card(height="100%")
            v-card-title.pb-1
              v-icon(x-large color="success") check_circle
            v-card-title.py-0
              h2(v-if="tests.length") {{(Math.floor((tests.filter((obj) => obj.success == true).length / tests.length * 100)* 100) / 100)}}%
              h2(v-else) 0%
            v-card-title.py-0.pb-2
              .grey--text.lighten-4 Successful Tests
      v-flex(xs12 xl6).pa-2
        v-card
          v-card-title(primary-title).headline Run Test
          v-list(two-line)
            v-list-tile
              v-select(label="Object" :items="objects" v-model="test.object" item-text="name")
            v-list-tile
              v-select(label="Mode" :items="modes" v-model="test.mode")
          v-card-title
            v-spacer
            v-btn(@click="startNewTest" color="primary" outline) Run New Test
      v-flex(xs12 xl6).pa-2
        v-card
          v-card-title(primary-title).headline Create Object
          v-list(two-line)
            v-list-tile
              v-text-field(label="Name" v-model="object.name")
            v-list-tile
              v-text-field(label="Mass" v-model="object.m")
          v-card-title
            v-spacer
            v-btn(@click="addObject" color="primary" outline) Create
</template>
<script>
import { mapGetters } from 'vuex'
import Bar from '~/components/Bar'
export default {
  components: { Bar },
  computed: {
    ...mapGetters({
      tests: 'tests',
      objects: 'objects'
    }),
    lineData () {
      return {
        datasets: [{
          label: 'Friction',
          backgroundColor: '#3956e5',
          data: this.groupedtests.map(a => a.gemµ)
        }],
        labels: this.groupedtests.map(a => a.object)
      }
    },
    groupedtests () {
      var tests = {}
      if (this.tests !== undefined) {
        this.tests.forEach(test => {
          if (tests[test.object] === undefined) {
            tests[test.object] = []
            tests[test.object].push(test)
          } else tests[test.object].push(test)
        })
      }
      var t = []
      Object.keys(tests).forEach(function (key) {
        var gemµ = 0
        tests[key].forEach(i => {
          gemµ += i.µ
        })
        gemµ = gemµ / tests[key].length
        t.push({object: tests[key][0].object, gemµ: gemµ})
      })
      return t
    }
  },
  data () {
    return {
      test: {
        object: null,
        mode: 'fixedAngle'
      },
      modes: [{text: 'Fixed angle', value: 'fixedAngle'}],
      object: {
        name: null,
        m: null
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {display: false},
        onClick (evt) {
          if (this.getElementsAtEvent(evt)[0] !== undefined) window.$nuxt.$router.push('/Tests/' + this.getElementsAtEvent(evt)[0]._model.label)
        }}
    }
  },
  methods: {
    startNewTest () {
      this.$socket.emit('startNewTest', {})
      if ((this.test.object !== null) &&
      (this.test.mode !== null)) {
        this.$socket.emit('startNewTest', this.test)
        this.$store.commit('setLoading', true)
      } else {
        console.log('je moet meer gegevens geven')
      }
    },
    testData () {
      for (var i = 0; i < 15; i++) {
        this.$socket.emit('startNewTest', {
          materialBlock: this.materials[Math.floor(Math.random() * this.materials.length)],
          materialGround: this.materials[Math.floor(Math.random() * this.materials.length)],
          m: Math.floor(Math.random() * 50 + 50) / 100
        })
        this.$store.commit('setLoading', true)
      }
    },
    addObject () {
      if ((this.object.name !== null) &&
      (this.object.m !== null)) {
        this.$socket.emit('addObject', this.object)
        this.object = {
          name: null,
          m: null
        }
      }
    }
  },
  beforeCreate () {
    // this.$store.commit('setSocket', this.$socket)
  }
}
</script>
<style>
.banner {
  height: calc(10% + 100px);
  background-color: #3956e5;
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
</style>
