<template lang="pug">
  v-layout(row wrap grid-list-lg)
    v-flex(xs12).pa-2
      v-card
        v-card-title.pb-0 Backend
        v-list(two-line)
          v-list-tile
            v-switch(label="Save successful tests to vault" v-model="localSettings.saveSuccessfulToVault")
          v-list-tile
            v-switch(label="Save all tests to vault" v-model="localSettings.saveAllToVault")
    v-flex(xs12).pa-2
      v-card
        v-card-title.pb-0 Extra Files
        v-btn(outline color="primary") Import tests from xls
        v-btn(outline color="primary") Export tests to xls
    v-flex(xs12)
        v-card(color="transparent" flat)
          v-card-title.pa-0
            v-spacer
            v-btn(@click="save" color="primary" outline) Save
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      settings: 'settings'
    }),
    localSettings () {
      return JSON.parse(JSON.stringify(this.settings))
    }
  },
  methods: {
    save () {
      this.$socket.emit('settingsChanged', this.localSettings)
      this.$router.push('/')
    }
  }
}
</script>
