<template lang="pug">
  v-layout(row wrap grid-list-lg)
    v-flex(xs12 v-for="(test, index) in groupedtests" :key="test.object" @click="$router.push('/tests/' + index + '')").pa-2
      v-card(style="cursor:pointer;")
        v-card-title 
          span {{index}}
          v-spacer 
          span {{test.length}}
        v-layout(align-center)
          line-chart(style="width:100%;" :chartData="chartData(index)" :options="options").pa-2
</template>

<script>
import { mapGetters } from 'vuex'
import lineChart from '~/components/line'
export default {
  components: { lineChart },
  computed: {
    ...mapGetters({
      tests: 'tests'
    }),
    
    groupedtests () {
      var tests = {}
      this.tests.forEach(test => {
        if (tests[test.object] === undefined) {
          tests[test.object] = []
          tests[test.object].push(test)
        } else tests[test.object].push(test)
      })
      return tests
    },
    chartData () {
      return (index) => {
        return {
          datasets: [{
            label: 'Friction',
            borderColor: '#3956e5',
            data: this.groupedtests[index].map(a => a.µ)
          }],
          labels: this.groupedtests[index].map(a => '')
        }
      }
    },
  },
  data() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {display: false},
        scales: {
					yAxes: [{
						display: true,
            ticks: {
              min: 0
            }
					}]
				}
      }
    }
  }
}
</script>