<template lang="pug">
  v-layout(row wrap grid-list-lg)
    v-flex(xs12).pa-2
      v-card
        v-card-title
          h4 Time from {{$route.params.id}}
        v-layout(align-center)
          no-ssr(style="width:100%;").pa-2
            my-line(v-if="$store.state.connected" :chartData="lineData" :options="options")
    v-flex(xs12 sm6 lg4 xl3 v-for="test in groupedtests[$route.params.id]" :key="test.id").pa-2
      v-card.pa-2
        v-list
          v-text-field(v-for="item in shown" box :label="item" :key="item" :value="test[item]" readonly)
          v-list-group
            v-list-tile(slot="activator")
              v-list-tile-title More
            v-list(two-line)
              v-text-field(v-for="(item, index) in test" :key="index" v-if="!shown.includes(index) && !exclude.includes(index)" box :label="index" :value="item" readonly)
              v-layout
                v-spacer
                v-btn(outline color="primary" @click="$socket.emit('deleteTest', test.id)") Delete test
        v-card-title(v-if="opened.find((obj) => obj.id == test.id)") {{test}}
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      tests: 'tests'
    }),
    groupedtests () {
      var tests = {}
      this.tests.forEach(test => {
        if (tests[test.object] === undefined) {
          tests[test.object] = []
          tests[test.object].push(test)
        } else tests[test.object].push(test)
      })
      return tests
    },
    lineData () {
      return {
        datasets: [{
          label: 'Time',
          borderColor: '#3956e5',
          data: this.groupedtests[this.$route.params.id].map(a => a.t)
        }],
        labels: this.groupedtests[this.$route.params.id].map(a => '')
      }
    }
  },
  data () {
    return {
      options: {responsive: true, maintainAspectRatio: false, legend: {display: false}},
      opened: [],
      shown: ['id', 'object', 'mode', 't', 'µ'],
      exclude: ['success']
    }
  }
}
</script>