<template lang="pug">
    v-layout(row wrap grid-list-lg)
        v-flex(xs12 v-for="(test, index) in groupedtests" :key="test.object" @click="$router.push('/Tests/' + index + '')").pa-2
            v-card
                v-card-title 
                  span {{index}}
                  v-spacer 
                  span {{test.length}}
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      tests: 'tests'
    }),
    groupedtests () {
      var tests = {}
      this.tests.forEach(test => {
        if (tests[test.object] === undefined) {
          tests[test.object] = []
          tests[test.object].push(test)
        } else tests[test.object].push(test)
      })
      return tests
    }
  }
}
</script>